.gameContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  text-align: center;
  width: 800px;
  height: 900px;
  outline: white 10px solid;
  outline-offset: 10px;
  border-radius: 10px;
}

.scoreBoard h1 {
  color: red;
  margin: 0;
}

.scoreBoard li {
  color: white;
}

.gameInfo li {
  color: white;
}

.digDug h2 {
  text-align: center;
  color: white;
}

.digDug h4 {
  text-align: center;
  color: white;
}

.digDug {
  background-color: black;
  height: 100%;
}

.digDug ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

.gameBoard {
  position: relative;
}

.gameOver {
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 30%;
  top: 40%;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1.5px 1.5px 1px black;
}

.gameOver h2 {
  margin-bottom: -15px;
}
